/* .vitepress/theme/style.css*/

:root {
    /*修改主页title颜色*/
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
    /* 修改侧边栏宽度 */
    --vp-sidebar-width: 200px;
    --vp-layout-max-width: 1600px
}

/*!* 文档宽度 *!*/
/*.VPDoc.has-aside .content-container[data-v-da69c9d5] {*/
/*    max-width: 900px;*/
/*}*/

/*!* 导航栏左边的文字属性 *!*/
/*.title[data-v-7dd8fa25] {*/
/*    font-size: 20px;*/
/*    color: rgb(19, 191, 234);*/
/*}*/

/*!* 导航栏右边的文字属性 *!*/
/*.VPNavBarMenuLink[data-v-578ccdd5] {*/
/*    color: var(--vp-c-text-1);*/
/*}*/

/*!* 导航栏右边的文字选中时的颜色 *!*/
/*.VPNavBarMenuLink.active[data-v-578ccdd5] {*/
/*    color: rgb(19, 191, 234);*/
/*}*/

/* 主页头像属性 */
.image-src {
    border-radius: 50%
}





